<!DOCTYPE html>
<html lang="en">

<head>

<% include ../Partials/ClientStyles %>

</head>

<body>

    <div id="wrapper">

       <% include ../Partials/ClientNavBars %>

        <div id="page-wrapper" style="height:700px !important;">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">History Projects 
                        </h1>
                       
                    </div>
                </div>
                <!-- /.row -->
				
				<div class="row">
                    <div class="col-lg-8">
						<div class="well well-sm replyAnnounce outerReply">
							<div class="headerReply">
							    <div class="headerNameReply">Parth Parmar</div>
								<div class="headerTimeReply">6 months ago</div>
							</div>
							<div class="contentReply">
								Let me answer my own question js/custom.js and change the mailchimp list link. Very nicely done. Thank you for the template!
							</div>
						
						</div>
						<div class="bugsBtns">
						 <button type="button" class="btn btn-xs btn-default" id="viewDeviceBugBtn" style="margin-left: 60%">View Device</button>
						 
						</div>
						<div class="well well-sm replyAnnounce outerReply">
							<div class="headerReply">
							    <div class="headerNameReply">John Smith</div>
								<div class="headerTimeReply">8 months ago</div>
							</div>
							<div class="contentReply">
								:D Thanks for purchasing the template. :)
							</div>
						
						</div>
						<div class="bugsBtns">
						 <button type="button" class="btn btn-xs btn-default" style="margin-left: 60%">View Device</button>
						
						</div>
					</div>
				</div>
			</div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<!-- Device Details PopUp -->
	<div id="deviceDetailsModal" class="modal fade deviceDetailsModal" role="dialog" >
		<div class="modal-dialog">

    <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header deviceDetailsModalHeader">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Device Detail</h4>
				</div>
			<div class="modal-body" style="overflow-y:auto;">
                	<div class="col-lg-6">

                        <form role="form">
			
                            <div class="form-group">
							    <label class="">Name:</label>
                            </div>
							 <div class="form-group">
                                <label class="">OS:</label>
                             </div>
							 <div class="form-group">
                                <label class="">Version:</label>
                             </div>
							 <div class="form-group">
                                <label class="">Processor SPD:</label>
                             </div>
							<div class="form-group">
                                <label class="">RAM:</label>
                             </div>
							 <div class="form-group">
                                <label class="">Battery:</label>
                             </div>
							 <div class="form-group">
                                <label class="">CON Type:</label>
                             </div>
							 
						</form>
					</div>
					<div class="col-lg-6">

                        <form role="form">
			
                             <div class="form-group">
							    <label class="">Device 1</label>
                            </div>
							 <div class="form-group">
                                <label class="">ios</label>
                             </div>
							 <div class="form-group">
                                <label class="">1.2.3</label>
                             </div>
							 <div class="form-group">
                                <label class="">10</label>
                             </div>
							<div class="form-group">
                                <label class="">2</label>
                             </div>
							 <div class="form-group">
                                <label class="">10</label>
                             </div>
							 <div class="form-group">
                                <label class="">10101010</label>
                             </div>
						</form>
				</div>
			
			</div>
		
    </div>

  </div>
</div>
	<!-- /Device Details PopUp -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
	 <script src="js/jquery-1.9.1.min.js"></script>
	  <script src="js/jquery-1.11.3.min.js"></script>
	   <script src="js/bootstrap-3.3.5.min.js"></script>
	<script>
	$(document).ready(function(){
		$("#backBugsBtn").click(function(){
				window.location.href = "http://localhost:1926/NewBugs";
		});
		$("#viewDeviceBugBtn").click(function(){
			$("#deviceDetailsModal").modal();
		});
		
		
	});
	</script>

</body>

</html>
