<div class="navbar navbar-inverse" style="width: 94%;margin-left: 3%;">
                    <div class="container" style="width: 100% ! important;">
                       
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li id="joinedProjectsTab1" class="active"><a href="/TesterPhase/ProjectMan">Project Man</a>
                                </li>
                                <li id="joinedProjectsTab2"><a href="/TesterPhase/Announcements">Announcements</a>
                                </li>
								<li id="joinedProjectsTab3"><a href="/TesterPhase/Bugs">Bugs</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
