<!DOCTYPE html>
<html lang="en">

<head>

<% include ../Partials/TesterStyles %>

</head>

<body>

    <div id="wrapper">

       <% include ../Partials/TesterNavBars %>

        <div id="page-wrapper" style="height:700px !important;">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Payment
                            <small>Transactions</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
				<div class="row">
				 <div class="col-lg-12">
				 <button type="button" class="btn btn-primary" id="enCashTransactionsBtn" style="float:right;">Encash</button>
				 <button type="button" class="btn btn-primary" id="payNowTransactionsBtn" style="float:right;margin-right: 2%;">Pay Now</button>
				 
				 </div>
				
				</div>
				<div class="row" style="margin-top:2%;">
				<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Inflow $</th>
                                        <th>Outflow $</th>
										<th>Balance $</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Paid for bug - 35224</td>
                                        <td>19-12-2015</td>
                                        <td>32.00</td>
                                        <td>0.00</td>
										<td>32.00</td>
                                    </tr>
                                    <tr>
                                        <td>Paid for join proj - 234</td>
                                        <td>20-12-2015</td>
                                        <td>8.00</td>
                                        <td>0.00</td>
										<td>40.00</td>
                                    </tr>
                                    <tr>
                                        <td>Encashed to accnt - 3476</td>
                                        <td>29-12-2015</td>
                                        <td>0.00</td>
                                        <td>30.00</td>
										<td>10.00</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
				</div>
				
				</div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

	<!-- Pay Now PopUp -->
	<div id="payNowTransactionModal" class="modal fade payNowTransactionModal" role="dialog" >
		<div class="modal-dialog">

    <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header payNowTransactionModalHeader">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Pay Now</h4>
				</div>
			<div class="modal-body" style="overflow-y:auto;">
                	<div class="col-lg-3">

                        <form role="form">
			
                            <div class="form-group">
							    <label class="popupAddDeviceLabel">Card Type:</label>
                            </div>
							 <div class="form-group">
                                <label class="popupAddDeviceLabel">Account No:</label>
                             </div>
							 <div class="form-group">
                                <label class="popupAddDeviceLabel">CVV No:</label>
                             </div>
							 <div class="form-group">
                                <label class="popupAddDeviceLabel">Amount:</label>
                             </div>
							
							
						</form>
					</div>
					<div class="col-lg-6">

                        <form role="form">
			
                            <div class="form-group">
							   <input class="form-control">
							</div>
							<div class="form-group">
							    <input class="form-control">
							</div>
							<div class="form-group">
							    <input class="form-control" style="width:30%;">
							</div>
							<div class="form-group" style="color:red;">
							    <label>$</label>
								<label>40.00</label>
							</div>
							
						</form>
				</div>
			
			</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-primary" id="payTransactionSubmitBtn">Pay</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		</div>
    </div>

  </div>
</div>
	<!-- /Pay Now PopUp -->
	
	<!-- Encash PopUp -->
	<div id="encashTransactionModal" class="modal fade encashTransactionModal" role="dialog" >
		<div class="modal-dialog">

    <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header encashTransactionModalHeader">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Encash</h4>
				</div>
			<div class="modal-body" style="overflow-y:auto;">
                	<div class="col-lg-3">

                        <form role="form">
			
                            <div class="form-group">
							    <label class="popupAddDeviceLabel">Account No:</label>
                            </div>
							 <div class="form-group">
                                <label class="popupAddDeviceLabel">Routing No:</label>
                             </div>
							 <div class="form-group">
                                <label class="popupAddDeviceLabel">Amount:</label>
                             </div>
							 <div class="form-group">
                                <label class="popupAddDeviceLabel">Description:</label>
                             </div>
							
							
						</form>
					</div>
					<div class="col-lg-6">

                        <form role="form">
			
                            <div class="form-group">
							   <input class="form-control">
							</div>
							<div class="form-group">
							    <input class="form-control">
							</div>
							<div class="form-group">
							   <div class="form-group input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control">
                                <span class="input-group-addon">.00</span>
								</div>
							</div>
							<div class="form-group">
							    <input class="form-control">
							</div>
							
						</form>
				</div>
			
			</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-primary" id="encashTransactionSubmitBtn">Encash</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		</div>
    </div>

  </div>
</div>
	<!-- /Encash PopUp -->
	
	
	
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>
	
	 <script src="/js/jquery-1.9.1.min.js"></script>
	  <script src="/js/jquery-1.11.3.min.js"></script>
	   <script src="/js/bootstrap-3.3.5.min.js"></script>
	
	<script>
	$(document).ready(function(){
		$("#payNowTransactionsBtn").click(function(){
			
			$("#payNowTransactionModal").modal();
		});
		$("#enCashTransactionsBtn").click(function(){
			
			$("#encashTransactionModal").modal();
		});
		
		
	});
	</script>

</body>

</html>
