<div class="navbar navbar-inverse" style="width: 94%;margin-left: 3%;">
                    <div class="container" style="width: 100% ! important;">
                       
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li id="crTab1" class="active"><a href="/ModifyingTestingDevice">Modifying Testing Device</a>
                                </li>
                                <li id="crTab2"><a href="/ChangeDeadline">Change Deadline</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
