<div class="navbar navbar-inverse" style="width: 94%;margin-left: 3%;">
                    <div class="container" style="width: 100% ! important;">
                       
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li id="createProjTab1" class="active"><a href="/ProjectSpecific">Project Specific</a>
                                </li>
                                <li id="createProjTab2"><a href="/Devices">Devices</a>
                                </li>
								<li id="createProjTab3"><a href="/Expenditure">Expenditure</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
