<div class="navbar navbar-inverse" style="width: 94%;margin-left: 3%;">
                    <div class="container" style="width: 100% ! important;">
                       
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li id="testerManagementTab1" class="active"><a href="/ApproveRejectTesters">Approve/Reject Testers</a>
                                </li>
                                <li id="testerManagementTab2"><a href="/MyTesters">My Testers</a>
                                </li>
								
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
