<div class="navbar navbar-inverse" style="width: 94%;margin-left: 3%;">
                    <div class="container" style="width: 100% ! important;">
                       
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li id="createMultiTab1" class="active createMultiTabs "><a href="/Admin/CreateClient">Client</a>
                                </li>
                                <li id="createMultiTab2" class="createMultiTabs"><a href="/Admin/CreateTester">Tester</a>
                                </li>
								<li id="createMultiTab3" class="createMultiTabs"><a href="/Admin/ConfirmMulti">Confirm</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
