<div class="navbar navbar-inverse" style="width: 94%;margin-left: 3%;">
                    <div class="container" style="width: 100% ! important;">
                       
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li id="feedbackTab1" class="active feedbackTabs"><a href="/Admin/ApplicationFeedback">Application</a>
                                </li>
                                <li id="feedbackTab2" class="feedbackTabs"><a href="/Admin/ClientFeedback">Client</a>
                                </li>
								<li id="feedbackTab3" class="feedbackTabs"><a href="/Admin/TesterFeedback">Tester</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
